.lt-bg-primary {
  background-color: #e40017 !important;
}
.lt-bg-accent {
  background-color: #30475e !important;
}
.lt-bg-grey {
  background-color: #f2f5f5;
}
.lt-text-primary {
  color: #e40017 !important;
}
.lt-text-accent {
  color: #30475e;
}
.lt-text-grey {
  color: #f2f5f5;
}
.lt-border-primary {
  border-bottom: #e40017 solid !important;
}
.lt-border-accent {
  border-bottom: #51c2d5 solid !important;
}
.lt-border-grey {
  border-bottom: #f2f5f5 solid !important;
}
.lt-mt-80{
  margin-top: 80px;
}
.lt-header {
  /* box-shadow: 20px 20px 20px 20px rgba( 0, 0, 0, 0.5); */
  background: rgba(155, 155, 155, 0.6);
  backdrop-filter: blur(4px);
  padding: 1rem 5rem;
}
.lt-footer{
  height: 200px;
}
.lt-header-mobile {
  /* box-shadow: 20px 20px 20px 20px rgba( 0, 0, 0, 0.5); */
  background: rgba(155, 155, 155, 0.6);
  backdrop-filter: blur(4px);
  padding: 1rem 1rem;
}
.drawer-mobile-logo{
  backdrop-filter: blur(4px);
}
.lt-icon-sm {
  height: 18px !important;
  width: 18px !important;
  font-size: 18px !important;
}
.lt-icon-base {
  height: 24px !important;
  width: 24px !important;
  font-size: 24px !important;
}
.lt-icon-md {
  height: 32px !important;
  width: 32px !important;
  font-size: 32px !important;
}
.lt-icon-lg {
  height: 42px !important;
  width: 42px !important;
  font-size: 42px !important;
}
@media only screen and (max-width: 2536px) {
  .carousel-container {
    height: 520px;
  }
}
@media only screen and (max-width: 1536px) {
  .carousel-container {
    height: 520px;
  }
}
@media only screen and (max-width: 1280px) {
  .carousel-container {
    height: 460px;
  }
}
@media only screen and (max-width: 1024px) {
  .carousel-container {
    height: 380px;
  }
}
@media only screen and (max-width: 768px) {
  .carousel-container {
    height: 340px;
  }
}
@media only screen and (max-width: 640px) {
  .carousel-container {
    height: 280px;
  }
}
/* item card */
.item-card-media {
  background-repeat: no-repeat !important;
  background-size: contain !important;
  background-position: center;
}
@media only screen and (max-width: 2536px) {
  .item-card-media {
    height: 310px;
  }
}
@media only screen and (max-width: 1536px) {
  .item-card-media {
    height: 290px;
  }
}
@media only screen and (max-width: 1280px) {
  .item-card-media {
    height: 280px;
  }
}
@media only screen and (max-width: 1024px) {
  .item-card-media {
    height: 240px;
  }
}
@media only screen and (max-width: 768px) {
  .item-card-media {
    height: 190px;
  }
}
@media only screen and (max-width: 640px) {
  .item-card-media {
    height: 145px;
  }
}
/* carousel dot */
.carousel .control-dots .dot {
  transition: opacity .25s ease-in;
  opacity: .3;
  filter: alpha(opacity=30);
  box-shadow: 1px 1px 2px rgb(0 0 0 / 90%);
  background: #fff;
  border-radius: 0;
  width: 25px;
  height: 1px;
  cursor: pointer;
  display: inline-block;
  margin: 0 8px;
}