.lt-bg-primary {
  background-color: #e40017 !important;
}
.lt-bg-accent {
  background-color: #30475e !important;
}
.lt-bg-grey {
  background-color: #f2f5f5;
}
.lt-text-primary {
  color: #e40017 !important;
}
.lt-text-accent {
  color: #30475e;
}
.lt-text-grey {
  color: #f2f5f5;
}
.lt-border-primary {
  border-bottom: #e40017 solid !important;
}
.lt-border-accent {
  border-bottom: #51c2d5 solid !important;
}
.lt-border-grey {
  border-bottom: #f2f5f5 solid !important;
}
.lt-header {
  /* box-shadow: 20px 20px 20px 20px rgba( 0, 0, 0, 0.5); */
  background: rgba(155, 155, 155, 0.6);
  backdrop-filter: blur(4px);
  padding: 1rem 5rem;
}
.lt-header-mobile {
  /* box-shadow: 20px 20px 20px 20px rgba( 0, 0, 0, 0.5); */
  background: rgba(155, 155, 155, 0.6);
  backdrop-filter: blur(4px);
  padding: 1rem 1rem;
}
.drawer-mobile-logo{
  backdrop-filter: blur(4px);
}
.lt-icon-sm {
  height: 18px !important;
  width: 18px !important;
  font-size: 18px !important;
}
.lt-icon-base {
  height: 24 !important;
  width: 24 !important;
  font-size: 24 !important;
}
.lt-icon-lg {
  height: 42px !important;
  width: 42px !important;
  font-size: 42px !important;
}
@media only screen and (max-width: 2536px) {
  .carousel-container {
    height: 520px;
  }
}
@media only screen and (max-width: 1536px) {
  .carousel-container {
    height: 520px;
  }
}
@media only screen and (max-width: 1280px) {
  .carousel-container {
    height: 460px;
  }
}
@media only screen and (max-width: 1024px) {
  .carousel-container {
    height: 380px;
  }
}
@media only screen and (max-width: 768px) {
  .carousel-container {
    height: 340px;
  }
}
@media only screen and (max-width: 640px) {
  .carousel-container {
    height: 280px;
  }
}